* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main {
  background-color: blueviolet;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

form {
  margin-bottom: 1rem;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; */
}
.form {
  background-color: #f5f1f1;
  width: 400px;
  padding: 1rem;
  border-radius: 8px;
  padding-bottom: 1.5rem;
  align-self: flex-start;
}
.form .container {
  text-align: center;
}

input {
  display: block;
  height: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 0.95rem;
}

form label {
  font-size: 0.9rem;
  font-weight: bold;
  display: block;
  margin-bottom: 0.2em;
  line-height: 1rem;
}

.btn {
  height: 2rem;
  background: #a2fe18;
  border-radius: 6px;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2rem;
  white-space: nowrap;
  margin-top: 0.5rem;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(137, 137, 137, 0.8);
}

.btn:hover {
  background: rgb(149, 234, 22);
}
.btn:active {
  transform: scale(0.98);
}
.clear {
  background: rgb(247, 20, 20);
  color: rgb(40, 40, 40);
  font-size: 0.8rem;
  margin-top: 0;
}
.clear:hover {
  background: rgb(224, 18, 18);
}

.mainUsers {
  flex-shrink: 0;
  flex-grow: 1;
  padding: 0 1rem;
  max-width: max-content;
  text-align: center;
  min-width: 300px;
  background-color: rgb(150, 57, 238);
  border-radius: 8px;
}
.mainUsers h2 {
  color: #f5f1f1;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.user {
  background-color: #f5f1f1;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.user-outer {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  /* padding-right: 0.2rem; */
  padding: 0.5rem 0.2rem 0.5rem 1rem;
  gap: 0.5rem;
}
.user-info {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.delete,
.change {
  padding: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 6px;
  font-size: 0.9rem;
  line-height: 1rem;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(137, 137, 137, 0.8);
}

.delete {
  background: rgb(247, 20, 20);
}
.delete:hover {
  background: rgb(224, 18, 18);
}

.change {
  background: rgb(162, 254, 24);
}
.change:hover {
  background: rgb(149, 234, 22);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (max-width: 650px) {
  main {
    flex-wrap: wrap;
  }
  .form {
    margin-bottom: 1rem;
  }
}
